.more {
    background: rgb(247, 242, 234);
    padding: 100px 0;
    background-image: url("./../img//more//more-decor.png");
    background-repeat: no-repeat;
    background-position:  right -120px bottom 30px;
}
.more-inner {
    display: flex;
    align-items: center;
    gap: 0 40px;
}
.more-content {
    transform: translateX(-20%);
    opacity: 0;
    transition: all 2s ease;
}
.more-content.active{
    transform: translateX(0);
    opacity: 1;
}
.more-content__title {
    font-family: var(--cormorant);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 50px;
}
.more-content__text {
    font-size: 20px;
    line-height: 150%;
    max-width: 580px;
    width: 100%;
}
.more-form {
    margin-top: 90px;
    transform: translateX(20%);
    opacity: 0;
    transition: all 2s ease;
}
.more-form.active{
    transform: translateX(0);
    opacity: 1;
}
.more-form__submit {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 0 25px;
}
.more-form__input {
    border-bottom: 1px solid rgb(184, 181, 139);
    background: transparent;
    max-width: 439px;
    width: 100%;
    padding: 0 10px 5px 15px;
    margin-top: 20px;
    height: 30px;
}
.more-form__input::placeholder{
    color: rgb(184, 181, 139);
    font-size: 20px;
    line-height: 150%;
}
.more-form__button {
    padding: 12px 41px;
    font-size: 20px;
    line-height: 27px;
    border: 1px solid rgb(21, 22, 24);
    background: rgb(255, 255, 255);
    transition: all .5s ease;
}
.more-form__button:hover {
    transform: scale(1.2);
    background: rgb(162, 159, 159);
}
.more-form__check {
    display: flex;
    gap: 0 10px;
}
.more-form__checkbox {
    align-self: flex-start;
    border: 1px solid rgb(21, 22, 24);
    background: rgb(255, 255, 255);
    margin-top: 2px;
}
.more-form__checkboxtext {
    font-size: 13px;
    line-height: 18px;
    max-width: 560px;
}

@media (max-width: 1100px){
    .more {
        padding: 50px 0;
    }
    .more-inner{
        flex-direction: column;
    }
}