.reviews {
    margin-top: 210px;
    background: rgb(247, 242, 234);
    padding: 60px 0 60px;
}
.reviews-ttile {
    font-family: var(--cormorant);
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 60px;
    text-align: center;
    transform: translateY(100%);
    opacity: 0;
    transition: all 2s ease;
}
.reviews-ttile.active{
    transform: translateX(0);
    opacity: 1;
}
.reviews-items {
    display: flex;
    column-gap: 26px;
}
.reviews-item {
    transform: rotateY(90deg);
    transition: all 3s;
}
.reviews-item.active {
    transform: rotateY(0);
}
.reviews-item__text {
    max-width: 288px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-style: italic;
    transition: all .5s ease;
}
.reviews-item__text:hover {
    text-decoration: underline 0.5px;
    transform: scale(1.1);
}
.reviews-item__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

@media (max-width: 900px){
    .reviews {
        margin-top: 90px;
    }
    .reviews-items{
       flex-wrap: wrap;
       justify-content: center;
       row-gap: 50px;
    }
}